// base
@import './base/reset';

// fonts
@import './fonts/fonts';

// helpers
@import './helpers/vars';
@import './helpers/mixins';
@import './helpers/utils';
@import './helpers/global';

// components
@import '../components/overlay/overlay';
@import '../components/burger/burger';

@import '../components/header/header';
@import '../components/hero/hero';
@import '../components/footer/footer';

.title {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 40px;

	color: var(--dark-blue);
}

.table-wrapper {
	&__title {
		margin-bottom: 22px;
	}
}

.box {
}

.table {
	display: flex;
	gap: 8px;

	&__left {
		padding: 60px 20px 0 20px;

		box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.14);
		border-radius: 6px;
		background: var(--white);
		max-width: 240px;
		width: 100%;
		flex-shrink: 0;
	}

	&__left-col {
		padding-top: 12px;
		padding-bottom: 12px;

		font-size: 13px;

		color: var(--black);

		&:not(:last-child) {
			border-bottom: 1px solid #bec2c3;
		}

		b {
			margin-bottom: 10px;

			display: block;

			font-weight: 600;
			font-size: 15px;

			color: var(--black);
		}
	}

	&__right {
		width: 100%;
	}

	&__right-wrapper {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__col {
		padding: 12px 0;

		display: flex;
		align-items: center;
		justify-content: center;

		&:not(:last-child) {
			border-bottom: 1px solid var(--white);
		}

		font-weight: 500;
		font-size: 13px;

		text-align: center;
		color: var(--white);
	}

	&__row {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 8px;

		.table__col {
			box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.14);
			background: var(--blue);
			padding: 8px 0;
			border-radius: 6px;
			border: none;

			font-weight: 600;
			font-size: 15px;

			&--gray {
				color: #878787;
				box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.14);
				background: #d5ecfe;
			}
		}
	}

	&__content-wrapper {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 8px;
	}

	&__col-wrapper {
		box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.14);
		background: var(--blue);
		border-radius: 6px;
		padding: 0 10px;

		&--last {
			background: #d5ecfe;

			.table__col {
				color: #787676;
			}
		}
	}
}
