// base
@import './base/reset';

// fonts
@import './fonts/fonts';

// helpers
@import './helpers/vars';
@import './helpers/mixins';
@import './helpers/utils';
@import './helpers/global';

// components
@import '../components/overlay/overlay';
@import '../components/burger/burger';

@import '../components/header/header';
@import '../components/hero/hero';
@import '../components/footer/footer';

.title {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 40px;
	line-height: 120%;
	color: var(--dark-blue);
}

.table-wrapper {
	&__table {
	}

	&__title {
		margin-bottom: 22px;
	}
}

.box {
	padding-top: 12px;
	padding-bottom: 8px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 13px;
	line-height: 120%;
	color: #000;

	b {
		display: block;
		margin-bottom: 10px;
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 15px;
		line-height: 120%;
		color: #000;
	}
}

.table {
	display: flex;
	gap: 8px;

	&__left {
		.box {
			&:not(:last-child) {
				border-bottom: 1px solid #bec2c3;
			}
		}
		padding: 0 20px;

		padding-top: 45px;
		padding-bottom: 12px;

		box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.14);
		border-radius: 6px;
		background: #fff;
		max-width: 240px;
		width: 100%;
		flex-shrink: 0;
	}

	&__right {
		width: 100%;
		flex: 1 1 auto;
	}

	&__right-wrapper {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__col {
		padding: 10px 0;

		&:not(:last-child) {
			border-bottom: 1px solid #ffffff;
		}
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 13px;
		line-height: 120%;
		text-align: center;
		color: #fff;
	}

	&__row {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 8px;

		.table__col {
			display: flex;
			align-items: center;
			justify-content: center;
			box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.14);
			background: #47adf4;
			padding: 8px 0;
			border-radius: 6px;
			border: none;

			font-weight: 600;
			font-size: 15px;

			&_color_gray {
				color: #878787;
				box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.14);
				background: #d5ecfe;
			}
		}
	}

	&__content-wrapper {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 8px;
	}

	&__content {
		box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.14);
		background: #47adf4;
		border-radius: 6px;
		padding: 0 10px;

		&--last {
			background: #d5ecfe;
			.table__col {
				color: #787676;
			}
		}

		.table__col {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
.table-wrapper {
	&__table {
	}
}
